.form {
    padding: 10px;
    width: 40%;
    display: block;
    border: solid 1px   rgb(37, 27, 173);
    margin: 15px auto;
    border-radius: 5px;
    min-width: 375ps;
  }

.input {
    margin: 0 0 20px 0;
}

.text {
    float: left;
}

.contactUs {
    padding-top: 35px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.button {
    width: 30%;
    margin: 10px
}

.errorCOl {
    border-color: red;
    /* padding: 3%;
    margin: 0 0 20px 0; */
  }
  