.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.sentLogo {
  width: 20%;
  display: block;
  margin: 25px auto;
}

.sentInfo {
  width: 30%;
  display: block;
  margin: 5px auto;
  margin-bottom: 50px;
}

.sentBack {
  width: 10%;
  height: 40px;
  display: block;
  margin-top: 20px;
  margin: 5px auto;
}